.App {
  font-family: sans-serif;
  text-align: center;
}
.Weather {
  text-align: left;
  font-size: small;
}
.Image {
  list-style-type: none;
}
.container {
  background: #edb1f1;
  border: 1px solid #d59bf6;
  padding: 20px;
  border-radius: 10px;
}

::-webkit-input-placeholder {
  color: #5e5e8c;
  opacity: 1;
}
#currently-button {
  color: #8ef6e4;
  text-decoration: none;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid #d59bf6;
  background: #d59bf6;
}

ul {
  margin: 0 0 10px;
  padding: 0;
}
#current-date {
  margin-top: 10px;
}
li {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  list-style-type: none;
  padding: 0;
  margin: 0;
  color: #5e5e8c;
}
li::first-letter {
  text-transform: capitalize;
}
.weather-temperature img {
  margin-right: 0;
  float: left;
  height: 64px;
  width: 64px;
  color: #5e5e8c;
}
.weather-temperature {
  display: block;
}
#temp-now {
  margin-left: 0px;
  padding-left: 0;
  font-size: 50px;
  color: #8ef6e4;
  line-height: 60px;
  font-weight: 800;
}
.Units {
  position: relative;
  top: -28px;
  font-size: 12px;
  text-decoration: none;
}
a {
  color: #5e5e8c;
}
a:hover {
  color: #8ef6e4;
  cursor: default;
  text-decoration: none;
}
/* .weather-temperature .active {
    color: #5e5e8c;
    cursor: default;
  }
  .weather-temperature .active:hover {
    text-decoration: none;
  } */
#current-city {
  font-size: 30px;
}
#current-weather {
  font-weight: 400;
}

.weather {
  font-weight: 400;
}

form {
  margin: 20px 0;
}
.weather-forecast {
  margin-top: 20px;
  text-align: center;
}
.weather-forecast-date {
  font-size: 14px;
  color: #5e5e8c;
}
.weather-forecast-temperature {
  font-size: 13px;
  color: #5e5e8c;
}
.weather-forecast-temperature-min {
  opacity: 0.7;
}
.see-more {
  margin: 0 auto;
  text-align: center;
}
